[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
