{% extends "layout.html" %}
{% block content %}
    <form action = "/display" method = "POST"
         enctype = "multipart/form-data" class = "file-upload-form">
         <h2>Procesador de Archivos</h2>
         <h6>Archivo tipo Zip</h6>
          <div class="drop-zone">
            <span class="drop-zone__prompt">Arrastra aqui tus archivos o haz click para elejir uno</span>
            <input type="file" name="file" class="drop-zone__input">
          </div>
          <div class = "centerbtn">
            <input type = "submit" id = "SendButton" class = "btn disabled" disabled>
          </div>
      </form>
<script src="./static/main.js"></script>
{% endblock %}
