{% extends "layout.html" %}
{% block content %}
    <form action="" method="post" enctype = "multipart/form-data" class = "file-upload-form">
      <h2>Land Calculator</h2>
      <h6>Prototype: Works only with standard cards</h6>
      <h6>Tested with decklist from mtgGoldfish</h6>
      {{ form.hidden_tag() }}
      <div class="drop-zone">
      <span class="drop-zone__prompt">Drag a Deck txt file or click to chose one</span>
      {{ form.file(class="drop-zone__input") }}
      </div>
      <div class = "centerbtn">
        <input id= "submitbutton" type="button" value="Analazise Deck" class = "btn disabled" disabled>
      </div>
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="./static/progBar.js"></script>
  <script src="./static/dropZone.js"></script>
{% endblock %}
