{% extends "layout.html" %}
{% block content %}
<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
</style>
<h1>Non basic lands used in similar decks</h1>
<div class="wrapper">
{% for card in display_info %}
<div style="grid-column: {{card.column}}; grid-row: {{card.row}};">
  <h3>{{card.name}}</h3>
  <a href="{{card.purchace_link}}" target="_blank"><img src="{{card.image}}" width="252" height="352"></a>
  <h5>$ USD {{card.price}}</h5>
</div>
{% endfor %}
</div>
{% endblock %}
