{% extends "layout.html" %}
{% block content %}
<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .distribution {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
</style>
<h2> Total number of symbols: {{colors.total}}</h2>
<h2>Symbols Distribution</h2>
<div class="distribution">
  <h4 style="grid-column: 1; grid-row: 1;">U: {{colors.U}}</h4>
  <h4 style="grid-column: 2; grid-row: 1;">B: {{colors.B}}</h4>
  <h4 style="grid-column: 3; grid-row: 1;">R: {{colors.R}}</h4>
  <h4 style="grid-column: 4; grid-row: 1;">G: {{colors.G}}</h4>
  <h4 style="grid-column: 5; grid-row: 1;">W: {{colors.W}}</h4>
</div>

<h2> Total number Lands: {{lands.total}}</h2>
<h2>All Basic Lands recomendation</h2>
<div class="distribution">
  <h4 style="grid-column: 1; grid-row: 1;">U: {{lands.U}}</h4>
  <h4 style="grid-column: 2; grid-row: 1;">B: {{lands.B}}</h4>
  <h4 style="grid-column: 3; grid-row: 1;">R: {{lands.R}}</h4>
  <h4 style="grid-column: 4; grid-row: 1;">G: {{lands.G}}</h4>
  <h4 style="grid-column: 5; grid-row: 1;">W: {{lands.W}}</h4>
</div>

<h1>Non basic lands used in similar decks</h1>
<div class="wrapper">
{% for card in display_info %}
<div style="grid-column: {{card.column}}; grid-row: {{card.row}};">
  <h3>{{card.name}}</h3>
  <a href="{{card.purchace_link}}" target="_blank"><img src="{{card.image}}" width="252" height="352"></a>
  <h5>$ USD {{card.price}}</h5>
</div>
{% endfor %}
</div>
{% endblock %}
